Library/cache
Library/metadata
Library/previews
Library/AnnotationManager
Library/AssetImportState
Library/AssetServerCacheV3
Library/BuildPlayer.prefs
Library/FailedAssetImports.txt
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/expandedItems
Library/guidmapper
Temp
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
Library/AssetVersioning.db

.DS_Store
Assembly-Boo-vs.booproj
Assembly-Boo.booproj